<div class="article">
	<h2><%= article.title %> ...</h2>
	<p>
	<%= image_tag article.photo.medium.url unless article.photo.nil? %>
	<%= article.body.html_safe %>
	</p>
	<p class="actions">
	   by <%=article.user.email%>
	   <%= pluralize(article.views_count, 'view')%> | 
	   <%= pluralize(article.comments.count, 'comment')%>
	</p>
	<p class="actions">
		<%= link_to 'Show', article %> | 
		<%= link_to 'Edit', edit_article_path(article) %> |
		<%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %>
	</p>
</div>