<h1><%=@list_title%></h1>

<div class="new_button" style="float:right">
<%= link_to 'New Article', new_article_path %>
</div>


<%= will_paginate @articles %>

<% cache do %>
	<% @articles.each do |article| %>
	  <%= render partial:'article', locals: {article: article} %>
	<%end%>
<%end%>

<%= will_paginate @articles %>