<!DOCTYPE html>
<html>
<head>
  <title>Tallersv1</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="main-container">
 <div class="usernav">	
	<div class="account-actions">
	<%if user_signed_in?%>
	  <%=current_user.name unless current_user.name.blank?%> | 
	
	  <%=link_to "Edit Profile", edit_user_registration_path%> | 
	  <%=link_to "Sing out", destroy_user_session_path, method: :delete %>
	<%else%>
	  <%=link_to "Sing in", new_user_session_path%>
	<%end%>
	</div>
	
	<div class="menu">
		<%=link_to "Home", root_path%>
		<%Category.order("name ASC").each do |category|%>
		  | <%=link_to category.name, category_articles_path(slug: category.slug)%> 
		<%end%>
	</div>
 </div>

 <p class="notice"><%= notice %></p>
 <p class="alert"><%= alert %></p>

 <%= yield %>
</div>

</body>
</html>
